* {
    font-family: Helvetica, sans-serif;
    background-color: #f4f6f8;
}

.topnav {
    padding: 10px; 
    background-color: #f4f6f8;
    border-radius: 10px;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10%; 


}

button {
    font-size: 1em;
    background-color: #f4f6f8;
    padding: 10px;
    border: none;
    color: rgb(62, 62, 62)
}
button:hover {
    cursor: pointer;
    font-size: 1.05em;
    transition: 1s;
}

.logo {
    background-color: #f4f6f8;
}

img.logo {
    height: auto;
    width: auto;
}

.hotlinebody {
    width: 50%;  
    margin: 0 auto;   
    padding: 100px;
    border-radius: 100px;
    margin-top: 50px;
}
h3 {
    width: 50%;  
    margin: 0 auto; 
}
p {
    line-height: 2;
}
ul { line-height: 2;}

h1 { 
    margin: 0 auto; 
    text-align: center;
    display: block;
}


.suicidehotline, .substanceabusehotline, .domesticviolencehotline, .veteranscrisishotline, .nationalsexualassaulthotline {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
  }

.getsupport {
    font-size: 50px;
    text-decoration: underline;
    background-color: rgb(224, 228, 234);

}
.alinks {
    color: rgb(41, 120, 173);
    padding: 25px;
    background-color: rgb(224, 228, 234);
}

.hotlinebody, .suicidehotline, .substanceabusehotline, .domesticviolencehotline, .veteranscrisishotline, .nationalsexualassaulthotline {
    background-color: rgb(224, 228, 234);
}



